# dependencies
node_modules/

# ignore all JSON…
*.json
# …but keep package.json and package-lock.json
!package.json
!package-lock.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env vars
.env
